#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}
#project-description {
    margin: 0;
    padding: 0;
}
.sub-text {
    font-size:12px;
    color:#333;
}.sub-text {
    font-size:12px;
    color:#333;
}.sub-text {
    font-size:12px;
    color:#333;
}